:root {
  --heading-font: "Prata", serif;
  --primary-font: "Prata", serif;
  --secondary-font: "Poppins", serif;
  --dark-1: #22333b;
  --dark-1-opaque: rgb(34, 51, 59, 0.9);
  --light-1: #e4e8f4;
  --light-2: rgb(123, 113, 87, 0.4);
  --light-3: #f2f4f3;
  --shadow: rgba(149, 157, 165, 0.3) 1px 8px 24px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./images/typewriter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.5px solid #5f6165;
  padding: 280px 0 120px 0;
}
.logo-img {
  height: 50px;
}
.title-container {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.99),
    rgba(255, 255, 255, 0.001)
  );
  padding: 20px 0;
}
.title {
  font-family: var(--heading-font);
  text-align: left;
  font-size: 50px;
  line-height: 1.5;
  margin-top: 0;
  padding-top: 10px;
  margin: 0 10px;
}
.subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  padding: 30px 10px;
}
.button-branding-1 {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--dark-1);
  border: 1px solid var(--dark-1);
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 10px 0;

  font-size: 13px;
  font-family: var(--secondary-font);
}
.button-branding-1:hover {
  background-color: white;
  color: var(--dark-1);
  border: 1px solid var(--dark-1);
  transition: 150ms ease-in-out;
}
.coming-soon-sticker {
  position: absolute;
  left: 350px;
  right: 0;
  top: 100px;
}
h2,
h3 {
  font-family: var(--heading-font);
}
h3 {
  padding: 30px 10px 20px;
  font-size: 30px;
  text-align: center;
}
body {
  font-family: var(--primary-font);
}
.content-container {
  margin: 20px;
}
p,
div {
  font-family: var(--primary-font);
}
hr {
  margin: 20px 120px;
}
.grid-2-columns {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}
.inner-grid {
  padding: 10px;
  margin: 10px;
}
.grid-2-columns-left-short,
.grid-2-columns-right-short {
  margin-bottom: 20px;
  display: grid;
  grid-gap: 50px;
  max-width: 1200px;
  font-size: 17px;
  justify-items: center;
  align-items: center;
}
.grid-2-columns-left-short {
  grid-template-columns: 1fr 3fr;
}
.grid-2-columns-right-short {
  grid-template-columns: 3fr 1fr;
}
.grid-2-columns-right-short-start-align {
  display: grid;
  grid-template-columns: 2fr 120px;
  align-items: center;
}
.grid-2-columns-right-short-start-align a {
  justify-self: self-start;
}
.grid-5-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

.testimonial-book-cover-img {
  display: flex;
  flex: 1;
  max-width: 161px;
}
.testimonial-book-cover-img img {
  width: 100%;
  height: 100%;
}

.featured-book-reviews {
  max-width: 350px;
  text-align: center;
}
.featured-book-reviews h5 {
  font-size: 17px;
}
.featured-book-reviews .feature-byline {
  font-size: 14px;
  opacity: 0.8;
}
.featured-book-cover-img {
  height: 30vw;
  margin: 25px 25px 50px 25px;
  box-shadow: var(--shadow);
}
.featured-book-cover-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-title {
  margin-top: 60px;
  font-size: 60px;
}
.page-subtitle {
  margin-top: 40px;
  font-size: 45px;
}

.about-paragraphs {
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
}

.btn-outline-dark a {
  font-family: var(--primary-font);
  color: #212529;
  text-decoration: none;
}
.btn-outline-light a {
  font-family: var(--primary-font);
  color: #ffffff;
  text-decoration: none;
}

.bio-book-title {
  font-style: italic;
}
.features-header {
  border-bottom: 1px black solid;
}
.features {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-photo {
  border-radius: 4px;
}

.grid-img img {
  box-shadow: var(--shadow);
  border-radius: 4px;
  width: 210px;
}

.grid-img img:hover {
  transform: scale(1.3);
  transition: 200ms;
}
.book-title {
  font-style: italic;
}
.coming-soon {
  background-color: #ffbd5a;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  text-align: center;
}
.wrap {
  float: right;
  max-width: 200px;
  margin: 5px 25px 20px 20px;
}
.navbar {
  transition: all 0.3s ease;
}

.navbar-brand img {
  height: 50px;
}
.navbar-brand-homepage img {
  transition: opacity 0.3s ease;
  opacity: 0;
}
.navbar.scrolled .navbar-brand-homepage img {
  opacity: 1;
}
.testimonial-container {
  padding-bottom: 20px;
  border-bottom: rgb(26, 35, 50, 0.04) solid 2px;
}
h3.sticky-top.sticky-top-custom {
  position: sticky;
  top: 75px;
  background-color: white;
  z-index: 1020;
}
.is-sticky {
  border-bottom: 1px black solid;
  padding: 15px 10px;
}
.testimonial {
  font-family: var(--primary-font);
}
.testimonial-byline {
  font-weight: bold;
}
.fa-quote-left,
.fa-quote-right {
  opacity: 0.1;
  font-size: 120px;
}
#contact-form {
  max-width: 800px;
  margin: 50px auto;
}
#contact-form button {
  background-color: var(--dark-1);
  color: white;
  border: 1px solid var(--dark-1);
}
#contact-form button:hover {
  color: var(--dark-1);
  background-color: transparent;
  border: 1px solid var(--dark-1);
}
#contact-form textarea::placeholder {
  font-family: var(--secondary-font);
  font-size: 13px;
  opacity: 0.3;
}
#contact-form input::placeholder {
  font-family: var(--secondary-font);
  font-size: 13px;
  opacity: 0.3;
}
footer {
  font-family: var(--primary-font);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("./images/footer-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 10px;
  color: white;
  line-height: 2;
}
.logo-img-footer {
  height: 60px;
}

footer a {
  color: rgb(255, 255, 255);
}
footer .footer-grid {
  grid-template-columns: 1fr;
  text-align: center;
  gap: 0;
}
footer .column-1,
.column-2 {
  border-right: none;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 2px;
}
.footer-column ul a {
  text-decoration: none;
}
.footer-column ul a:hover {
  text-decoration: underline;
}
.footer-column p {
  margin: 10px 0;
}

.social-links a {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

footer .creator-credits {
  font-size: 9px;
  font-family: var(--secondary-font);
  opacity: 0.4;
  text-align: center;
}

.social-links {
  margin: 10px;
}
i {
  font-size: 20px;
  padding: 12px;
  color: #484848;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
}
i:hover {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.8);
  color: white;
  transition: 100ms ease-in-out;
}
/* custom bootstrap element css */

.navbar-custom {
  background-color: white;
  font-family: var(--primary-font);
  display: flex;
  justify-content: space-evenly;
}

/* Hover effects or similar */
.btn-outline-dark-custom:hover {
  color: white;
  background-color: var(--light-3);
  transition: 200ms;
}
.btn-outline-dark-custom:hover a {
  color: white;
}

/*media queries here*/

@media (max-width: 567px) {
  .hero h1 {
    font-size: 35px;
  }
  .hero h2 {
    font-size: 1 5px;
  }
  .featured-book-cover-img {
    height: 80vw;
  }
  .wrap {
    float: none;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .about-paragraphs {
    text-align: center;
  }

  .grid-img img:hover {
    transform: scale(2);
    transition: 200ms;
    transform-origin: center;
  }
  .testimonial-container {
    padding: 30px 10px;
  }
  .testimonial-book-cover-img {
    display: none;
  }
  .grid-2-columns-right-short {
    display: block;
  }
  .grid-2-columns-left-short {
    display: block;
  }
}
@media (max-width: 768px) {
  .feature-img {
    width: max-content;
    display: block;
    margin: 0 auto;
  }
  .hero {
    justify-content: center;
    padding: 100px 0 80px 0;
  }
  .title-container {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    );
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }

  .grid-2-columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .feature-content {
    height: 60vw;
    width: auto;
  }
  .featured-book-cover-img {
    height: 60vw;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  .featured-book-reviews {
    width: auto;
    max-width: 100%;
    margin-top: 1rem;
  }
  .grid-5-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-img img:hover {
    transform: none;
  }
}
@media (768px <= width <= 992px) {
  .grid-5-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .inner-grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .featured-book-cover-img {
    height: 40vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1500px) {
  .grid-2-columns {
    font-size: 20px;
  }
}
